<template>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="column">
                    <h4>Everyday English admin panel</h4>
                </div>
                <div class="column">
                    <div class="navigation">
                        <router-link to="/">Lista słów do publikacji</router-link>
                        <router-link to="/import">Importuj CSV</router-link>
                        <router-link to="/new" class="button">Dodaj słowo</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Header"
    }
</script>

<style scoped>
    .header {
        background: #f4f5f6;
        border-bottom: .1rem solid #d1d1d1;
        display: block;
        height: 5.2rem;
        left: 0;
        max-width: 100%;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 2;
        padding-top: 5px;
    }

    .navigation {
        float: right;
    }

    .navigation a {
        margin-left: 25px;
    }
</style>
