<template>
    <div>
        <table>
            <thead>
            <tr>
                <th>Nr. w kolejce</th>
                <th>Angielskie słowo</th>
                <th>Tłumaczenie</th>
                <th>Transkrypcja</th>
                <th>Cześć mowy</th>
                <th>Przykład po angielsku</th>
                <th>Przykład po polsku</th>
                <th>Akcje</th>
                <!--                <th>Zarządzaj numerem</th>-->
            </tr>
            </thead>
            <tbody>
            <tr v-for="word in listOfWords">
                <td>{{word.order}}</td>
                <td>{{word.enWord}}</td>
                <td>{{word.plWord}}</td>
                <td>[{{word.transcription}}]</td>
                <td>{{word.lexicalCategory}}</td>
                <td>{{word.enExample}}</td>
                <td>{{word.plExample}}</td>
                <td style="text-align: center;">
<!--                    <button class="button">-->
<!--                        Edutuj-->
<!--                    </button>-->
<!--                    <br>-->
                    <button class="button-outline" @click="deleteWord(word.id)">
                        Usuń
                    </button>
                </td>
                <!--                <td style="text-align: center;">-->
                <!--                    <a class="button">-->
                <!--                        Wyżej-->
                <!--                    </a>-->
                <!--                    <a class="button">-->
                <!--                        Niżej-->
                <!--                    </a>-->
                <!--                </td>-->
            </tr>
            </tbody>
        </table>
        <div class="row bottom-bar">
            <div class="column">
                <button class="button-outline" :disabled="page <= 1" @click="getPrevPage">
                    Poprzednia strona
                </button>
            </div>
            <div class="column" style="text-align: center;">

                Strona {{ page }} / {{totalPages}}
            </div>
            <div class="column">
                <button class="button-outline" :disabled="page >= totalPages" style="float: right" @click="getNextPage">
                    Następna strona
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "ListOfWords",
        data() {
            return {
                page: 1,
                hasPrev: false,
                hasNext: false,
                totalPages: 1,
                listOfWords: [
                    {
                        enExample: null,
                        enWord: null,
                        id: null,
                        lexicalCategory: null,
                        plExample: null,
                        plWord: null,
                        posted: null,
                        transcription: null,
                    }
                ]
            }
        },
        methods: {
            deleteWord(id) {
                var self = this;
                axios.delete(self.$store.state.serverURL + '/api/words?id=' + id)
                    .then(() => {
                        self.getWords();
                    });
            },
            getNextPage() {
                this.page++;
                this.getWords();
            },
            getPrevPage() {
                this.page--;
                this.getWords();
            },
            getWords() {
                var self = this;
                axios.get(self.$store.state.serverURL + '/api/words?page=' + self.page).then(response => {
                    let data = response.data;
                    self.listOfWords = data.words;
                    self.hasNext = data.hasNext;
                    self.hasPrev = data.hasPrev;
                    self.pages = data.pages;
                });
            }
        },
        mounted() {
            this.getWords();
        }
    }
</script>

<style scoped>
    table {
        width: 100%;
    }

    .bottom-bar {
        padding-top: 10px;
        background: #f4f5f6;
        border-top: .1rem solid #d1d1d1;
        position: fixed;
        bottom: 0;
    }
</style>
