<template>
    <div class="sidebar">
        <div class="container">

        </div>
    </div>
</template>

<script>
    export default {
        name: "SideBar"
    }
</script>

<style scoped>
    .sidebar {
        background: #f4f5f6;
        border-right: .1rem solid #d1d1d1;
        display: block;
        height: 100vh;
        left: 0;
        max-width: 100%;
        position: fixed;
        top: 0;
        width: 20vw;
        z-index: 1;
    }
</style>
