<template>
    <div id="app">
        <Header></Header>

        <router-view/>

    </div>
</template>


<script>
    import Header from './components/Header.vue'

    export default {
        name: 'app',
        components: {
            Header
        },
        created() {
            let serverURL = '//' + window.location.hostname;
            if (window.location.port) {
                serverURL += ':5000';
            }
            this.$store.commit('setServerURL', serverURL);
        }
    }
</script>


<style>
    @import './../node_modules/milligram/dist/milligram.min.css';

    body {
        margin-top: 6rem;
    }
</style>

