<template>
    <div class="container">
        <div class="row">
            <h1>Dodaj nowe słowo do kolejki</h1>
        </div>

        <div class="row">
            <div class="column">
                <form>
                    <fieldset>
                        <label for="enField">Po angielsku</label>
                        <input type="text" id="enField" v-model="enWord">

                        <label for="plField">Tłumaczenie po polsku</label>
                        <input type="text" id="plField" v-model="plWord">
                    </fieldset>
                </form>
            </div>
            <div class="column">
                <form>
                    <fieldset>
                        <label for="transcriptionField">Transkrypcja (bez [])</label>
                        <input type="text" id="transcriptionField" v-model="transcription">


                        <label for="lexicalCategory">Część mowy</label>
                        <select id="lexicalCategory" v-model="lexicalCategory">
                            <option value="Rzeczownik">Rzeczownik</option>
                            <option value="Przymiotnik">Przymiotnik</option>
                            <option value="Czasownik">Czasownik</option>
                            <option value="Liczebnik">Liczebnik</option>
                        </select>

                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="enExample">Przykład po anglelsku</label>
                <textarea placeholder="Example..." id="enExample" v-model="enExample"></textarea>
            </div>

        </div>
        <div class="row">
            <div class="column">
                <label for="plExample">Przykład po polsku</label>
                <textarea placeholder="Przykład..." id="plExample" v-model="plExample"></textarea>
            </div>


        </div>
        <div class="row">
            <div class="column" style="text-align: right">
                <input class="button-primary" type="submit" value="Zapisz" @click="saveWord">
            </div>

        </div>

        <div class="row" v-if="showSuccess">
            <div class="container alert">
                Słowo dodane!
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "CreateWord",
        data() {
            return {
                enWord: '',
                plWord: '',
                transcription: '',
                lexicalCategory: 'Rzeczownik',
                enExample: '',
                plExample: '',
                showSuccess: false
            };
        },
        methods: {
            saveWord() {
                let self = this;
                let data = {
                    enWord: self.enWord,
                    plWord: self.plWord,
                    transcription: self.transcription,
                    lexicalCategory: self.lexicalCategory,
                    enExample: self.enExample,
                    plExample: self.plExample,
                };

                axios.post(self.$store.state.serverURL + '/api/words', data)
                    .then(response => {
                        debugger;
                        self.showSuccess = true;
                        setTimeout(() => {
                            self.showSuccess = false;
                        }, 2000);
                        self.enWord = '';
                        self.plWord = '';
                        self.transcription = '';
                        self.lexicalCategory = 'Rzeczownik';
                        self.enExample = '';
                        self.plExample = '';
                    })
                    .catch(error => {
                        console.log(error);
                    });

            }
        }
    }
</script>

<style scoped>
    .alert {
        background-color: #42b983;
        border: 0.1rem solid #42b983;
        border-radius: .4rem;
        color: #fff;
        display: inline-block;
        font-size: 1.1rem;
        font-weight: 700;
        height: 3.8rem;
        letter-spacing: .1rem;
        line-height: 3.8rem;
        padding: 0 3.0rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }
</style>
