<template>
    <div>
        <div class="container">
            <div class="row">
                <h1>Lista słów do publikacji</h1>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <ListOfWords :page="page"/>
            </div>
        </div>
    </div>

</template>

<script>
    // @ is an alias to /src
    import HelloWorld from '@/components/HelloWorld.vue'
    import ListOfWords from '@/components/ListOfWords.vue'

    export default {
        name: 'home',
        data() {
            return {
                page: 1
            }
        },
        components: {
            HelloWorld,
            ListOfWords
        }

    }
</script>

<style>
    .home {
        width: 100%;
    }


</style>
