<template>
    <div class="container">
        <div class="row">
            <h1>Importuj CSV ze słowami</h1>
        </div>
        <div class="row">
            <div class="upload-btn-wrapper">
                <button class="button-outline">Wybierz plik</button>
                <input type="file" name="myfile" ref="file" @change="handleFileUpload"/>
            </div>
            <div class="filename">
                {{file.name}}
            </div>
            <button class="button" @click="submitFile">
                Wgraj
            </button>
        </div>
        <div class="row">
            <h4>Przykładowa struktura CSV:</h4>
        </div>
        <div class="row">
            <code>English word,Polish word,Transcription,Lexical category,English example,Polish example</code>
        </div>
        <div class="row" v-if="error">
            <div class="container bad-alert">Wystąpił błąd, napisz do Olka!</div>
        </div>
        <div class="row" v-if="success">
            <div class="container alert">Plik wgrano z powodzeniem!</div>
        </div>

    </div>
</template>

<script>
    import axios from 'axios';


    export default {
        name: "ImportCSV",
        data() {
            return {
                file: '',
                error: false,
                success: false
            }
        },
        methods: {
            handleFileUpload() {
                this.file = this.$refs.file.files[0];
            },
            submitFile() {
                let self = this;
                self.success = false;
                let formData = new FormData();
                formData.append('file', this.file);
                axios.post(self.$store.state.serverURL + '/api/import',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(() => {
                    self.success = true;
                    setTimeout(() => {
                        self.success = false;
                    }, 2000);
                })
                    .catch(() => {
                        self.error = true;
                        setTimeout(() => {
                            self.error = false;
                        }, 2000);
                    });
            },
        }
    }
</script>

<style scoped>
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
        margin-right: 25px;
        cursor: pointer;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }

    .alert {
        background-color: #42b983;
        border: 0.1rem solid #42b983;
        border-radius: .4rem;
        color: #fff;
        display: inline-block;
        font-size: 1.1rem;
        font-weight: 700;
        height: 3.8rem;
        letter-spacing: .1rem;
        line-height: 3.8rem;
        padding: 0 3.0rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .bad-alert {
        background-color: #42b983;
        border: 0.1rem solid #42b983;
        border-radius: .4rem;
        color: #fff;
        display: inline-block;
        font-size: 1.1rem;
        font-weight: 700;
        height: 3.8rem;
        letter-spacing: .1rem;
        line-height: 3.8rem;
        padding: 0 3.0rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .filename {
        margin-top: 15px;
        margin-right: 20px;
    }
</style>
